[submodule ".config/mpv/scripts/mpv-reload"]
	path = .config/mpv/scripts/mpv-reload
	url = https://github.com/4e6/mpv-reload
[submodule ".config/rofi/nord-rofi-theme"]
	path = .config/rofi/nord-rofi-theme
	url = https://github.com/undiabler/nord-rofi-theme
[submodule ".config/rofi/rofi-themes-collection"]
	path = .config/rofi/rofi-themes-collection
	url = https://github.com/lr-tech/rofi-themes-collection
[submodule ".config/rofi/rofi-ddgr"]
	path = .config/rofi/rofi-ddgr
	url = https://github.com/gmagno/rofi-ddgr
